doctype html
html
  head
    title redirecting to a server...
  body
    p redirecting to a server. please wait just a while.
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script
      include redirect.js
